<h1>Log In</h1>

<%= form_for :user do |f| %>

  <%= f.label :username %>
  <%= f.text_field :name %>
  <br><br>

  <%=f.label :password %>
  <%= f.password_field :password %>
  <br><br>

  <%= f.submit "Login" %>
<% end %>
<br><br>
