<h1> <%= @game.name %> Page </h1>
<h4><%= @game.category %></h4>

<h3><%= @game.description %></h3>

<br>

<h3>All the matches</h3>

<% @game.matches.each do |match| %>

  <%= link_to match.title, game_match_path(@game, match)%>
    <ul>
      <% match.players.each do |player| %>
      <li><%= link_to player.name, player_path(player) %></li>
      <% end %>
    </ul>

<% end %>
<br><br>
<%= link_to "Edit Game", edit_game_path(@game) %>
<br><br>
