<h1> <%= @game.name %> Page </h1>
<h4><%= @game.category %></h4>

<h3><%= @game.description %></h3>

<br>

<h3>All the matches</h3>

<%= @game.matches.each do |match| %>

  <%= link_to match.match_datetime, match_path(match)%>
    <ul>
      <%= match.players.name %>
    </ul>

<% end %>
<br>

<%= link_to "All the Games", games_path %>
<br>
<%= link_to "Create New Match", new_match_path(@game) %>

#links to edit game details


#links to home
