<h1>Player Profile</h1>

<h2> <%= @player.name %> </h2>

<h3>Player Info</h3>

<ul>
  <li>Favorite Game: <%= @player.favorite_game %></li>
  <li>Age: <%= @player.age %></li>
  <li>Victory Phrase: <%= @player.win_phrase %></li>
  <li>Loser says what?: <%= @player.lose_phrase %></li>
  <li>Motto: <%= @player.motto %></li>
</ul>

<br><br>
<h1><%= "#{@player.name}"%>'s Matches</h1>
<ul>
  <% @player.matches.each do |match| %>
    <li><%= link_to match.title, player_match_path(@player, match) %></li>
  <% end %>
</ul>
<br>

<h3>Total Wins: <%= @player.wins %> </h3>

<h3>Total Losses: <%= @player.losses %></h3><br>


<br><br>
<% if logged_in? && current_user.id == @player.id %>
<%= link_to "Edit Player", edit_player_path(@player) %>
<% end %>
<br><br>
