<h1>Player Profile</h1>

<h2> <%= @player.username%> </h2>

<h3>Player Info</h3>

<ul>
  <li>Name: <%= @player.name %> </li>
  <li>Age: <%= @player.age %></li>
  <li>Motto: <%= @player.motto %></li>
</ul>

<br>

<%= link_to "Edit Player", edit_player_path(@player) %>
