<h1>Player Profile</h1>

<h2> <%= @player.name %> </h2>

<h3>Player Info</h3>

<ul>
  <li>Favorite Game: <%= @player.favorite_game %></li>
  <li>Age: <%= @player.age %></li>
  <li>Victory Phrase: <%= @player.win_phrase %></li>
  <li>Loser says what?: <%= @player.lose_phrase %></li>
  <li>Motto: <%= @player.motto %></li>
</ul>

<br><br>
<%= link_to "Edit Player", edit_player_path(@player) %>
<br><br>
