<h1>Edit Match Details</h1>

<%= form_for @match do |f| %>

  <%=f.label :title %>
  <%=f.text_field :title %>
<br>
  <%=f.label :game_id %>
  <%=f.collection_select :game_id, Game.all, :id, :name %>
<br>
  <%=f.label :players %>
  <%=f.collection_check_boxes :players, Player.all, :id, :name %>
<br>
  <%=f.label :score %>
  <%=f.text_field :score %>
<br>
  <%=f.label :winner %>
  <%=f.collection_radio_buttons :winner, Player.all, :id, :name %>
<br>
  <%= f.label :notes %>
  <%=f.text_area :notes %>
<br>
  <%=f.submit %>
<% end %>
<br><br>
