<h1>Create New Match</h1>

<%= form_for @match do |f| %>

  <%=f.label :title %>
  <%=f.text_field :title %>
<br>
  <%=f.label :match_datetime %>
  <%=f.datetime_select :match_datetime %>
<br><br>
  <%=f.label :game_id %>
  <%=f.collection_select :game_id, Game.all, :id, :name %>
<br><br>

  <%=f.label "Players" %>
  <%=f.collection_check_boxes :player_ids, Player.all, :id, :name %>
<br><br>
<<<<<<< HEAD
=======
<!-- New player nested form -->
>>>>>>> 50f45f94541cebeb5157259d8c7f8600f12c9a24
<p>Create a new player here:</p>
  <%= f.fields_for :players do |m| %>
    <%= m.label :name %><br>
    <%= m.text_field :name %>
    <br>
      <%= m.label :age %><br>
      <%= m.text_field :age %>
    <br>
      <%= m.label :motto %><br>
      <%= m.text_field :motto %>
    <br>
      <%= m.label :favorite_game %><br>
      <%= m.text_field :favorite_game %>
    <br>
      <%= m.label :win_phrase %><br>
      <%= m.text_field :win_phrase %>
    <br>
      <%= m.label :lose_phrase %><br>
      <%= m.text_field :lose_phrase %>
    <br>
  <% end %>
<br><br>
  <%=f.label :score %>
  <%=f.text_field :score %>
<br><br>
  <%=f.label :winner %>
  <%=f.collection_radio_buttons :winner, Player.all, :name, :name %>
<br><br>
  <%= f.label :notes %>
  <%=f.text_area :notes %>
<br><br>

  <%=f.submit %>
<% end %>
<br><br>
