<h1>Create New Match</h1>

<%= form_for @match do |f| %>

  <%=f.label :match_datetime %>
  <%=f.datetime_select :match_datetime %>
<br><br>
  <%=f.label :game_id %>
  <%=f.collection_select :game_id, Game.all, :id, :name %>
<br><br>

  <%=f.label :player_names %>
  <%=f.collection_check_boxes :player_names, Player.all, :name, :name %>
<br><br>

  <%=f.label :score %>
  <%=f.text_field :score %>
<br><br>
  <%=f.label "Winner" %>
  <%=f.collection_radio_buttons :player_id, Player.all, :id, :name %>
<br><br>
  <%= f.label :notes %>
  <%=f.text_area :notes %>
<br><br>

  <%=f.submit %>
<% end %>
