<h1>Match Details</h1>

<h1> <%= link_to @match_game.name, game_path(@match_game) %> </h1>

<h1> <%= @match.title %> </h1>
<h3>Played On <%= @match.created_at %> </h3>

<br>

<h2>Winner: <%= link_to @match.winner, player_path(@match_winner) %> </h2>

<h3>Score: <%= @match.score %> </h3>

<h3>Players: <% @match.players.each do |player| %></h3>
<ul>
  <li> <%= link_to player.name, player_path(player) %></li>
</ul>

<% end %>
<br><br>

<%= link_to "Edit Match Details", edit_match_path(@match) %>
<br><br>
